.feature-item {
    padding: 2.5rem;
    flex: 1;

    &-title {
        margin-bottom: 0.5rem;
        color: #222;
        
        @include text($fontSize: 1.25rem, $fontWeight: bold);
    }
    
    .feature-icon {
        padding: 1rem;
        width: 100px;

        border: 10px solid #00bc77;
        border-radius: 50%;       
    }
}