.account {
    padding: 1.5rem;

    margin: 0 auto;
    margin-bottom: 2rem;

    width: 80%;
    @include flexbox($direction: column, $justify: space-between, $align: center);

    @include responsive("phone", $type: "min") {
        @include flexbox($direction: row, $justify: space-between, $align: center);
    }

    background-color: #fff;
    border: 1px solid black;

    box-sizing: border-box;
    text-align: left;

    &-content-wrapper {
        width: 100%;
        flex: 1;

        .transaction-button {
            cursor: pointer;

            padding: 8px;
            margin-top: 1rem;

            width: 100%;
            @include responsive("phone", $type: "min") {
                width: 200px;
            }

            color: #fff;
            @include text($fontSize: 1.1rem, $fontWeight: bold);
            
            background-color: #00bc77;
            border-color: #00bc77;				
        }
    }

    @include responsive("phone", $type: "min") {
        &-content-wrapper.cta {
            flex: 0;
        }
    }

    &-title {
        margin: 0;
        padding: 0;

        @include text($fontSize: 1rem, $fontWeight: normal);
    }

    &-amount {
        margin: 0;
        
        @include text($fontSize: 2.5rem, $fontWeight: bold);
    }

    &-amount-description {
        margin: 0;
    }
}