.sign-in {
	padding: 2rem;
	margin: 3rem auto 0;

	width: 300px;

	background-color: white;
	box-sizing: border-box;

	img:first-child {
		width: 16px;
		height: 16px;
	}

	form {
		.input-wrapper {
			margin-bottom: 1rem;

			@include flexbox($direction: column);
			text-align: left;

			label {
				font-weight: bold;
			}

			input {
				padding: 5px;
				font-size: 1.2rem;
			}
		}

		.input-remember {
			@include flexbox();

			label {
				margin-left: 0.25rem;
			}
		}

		.sign-in-button {
			cursor: pointer;
			
			padding: 8px;
			margin-top: 1rem;
			
			width: 100%;
			
			@include text($fontSize: 1.1rem, $fontWeight: bold);
			
			color: #fff;
			background-color: #00bc77;
			border-color: #00bc77;
		}
	}
}