/* ----------- Default Setup ----------- */

// Micro clearfix
%cf:before,
%cf:after {
	content: " ";
	display: table;
}

%cf:after {
	clear: both;
}

* {
	padding: 0;

	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Remove element selections
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0;

	text-align: center;
	color: #2c3e50;
}

#root {	
	min-height: 100vh;

	display: flex;
	flex-direction: column;	
}

// Remove list style
ul {
	list-style-type: none;
}

// Remove link sublines
a {
	text-decoration: none;
}

main {
	flex: 1;
}

// Source : https://www.lalutineduweb.fr/alternatives-textuelles-texte-masque-css/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.bg-dark {
	background-color: #12002b;
}

/* ----------- Custom ScrollBar ----------- */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #ffffffbd #03020F;
}

// Chrome, Edge, and Safari
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #03020F;
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
	background-color: #ffffffb7;
	border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #ffffffef;
}